.banner {
background: url("banner.png") no-repeat center center; 
background-size:cover;
padding-top:12rem;
padding-bottom: 12rem;
text-align: center !important;
color: darkred !important;
 }
.slogan {
text-align: center !important;
width: 100%;
}
.row {
display: flex;
flex-wrap: wrap; 
max-width: 100%; 
padding-right: 3rem;
padding-left:  3rem;
background-color: lightgrey;}
.block_3 {
flex: 0 0 auto; 
width: 30%; 
margin: 10px;
}

footer {background-color: lightgrey; 
margin: 1px; 
padding: 10px;
}
.link {
color: navy; 
text-align: left;
}

.cell_img {
width: 50%;
}
.cell_text {
width: 50%; 
padding-left: 5rem;
}
.img {width: 100%; 
height: 100%;
}
.menu {font-size: 120%; 
text-decoration: none;
}
.cell {text-align: justify; 
padding: 1.5em;
}
